.mb-lg {
  margin-bottom: 6rem !important;
}

.mb-sm {
  margin-bottom: 2rem !important;
}

.mb-md {
  margin-bottom: 4rem !important;
}

.mb-xl {
  margin-bottom: 10rem !important;
}

.mt-xl {
  margin-top: 10rem !important;
}

.mt-lg {
  margin-top: 6rem !important;
}

.mt-md {
  margin-top: 4rem !important;
}

.mt-sm {
  margin-top: 2rem !important;
}
