.about {
  display: flex;
  background-color: #fff;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;

  @include respond(mob) {
    flex-direction: column;
  }
  &__content {
    align-self: center;
    padding: 0 4rem;
    @include respond(mob) {
      padding: 8rem 4rem;
    }
  }
  &__img {
    width: 50%;
    object-fit: cover;
    &--1 {
      margin-left: 2rem;
    }
    &--2 {
      order: -1;
    }

    @include respond(mob) {
      display: none;
    }
  }
}
